.navbar{
    margin-bottom: -20px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative;
    top: 0; */
}
.navbar-container{
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    padding: 2rem;
    padding-left: 1px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 0;
    z-index: 10;
}
.navbar-container .part1{
    color:rgb(84, 47, 176)
    
}
.navbar-container .part2{
    color:rgb(252, 246, 246)
}
.space{
    margin-left: 9px;
}
.navbar_icon{
    margin: 8px;;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.7rem;
    padding-right: 10px;
}
